{% extends "layout.html" %}
{% block body %}
<script>
$(document).ready(function(){
		$.getJSON('/user_name_list.json',
			{},
			function(user_name_list, textStatus){
				var html = "";
				for(var i = 0, len = user_name_list.length; i < len; i++){
					user_name = user_name_list[i];
					html += '<a href="/user/' + user_name + '">' + user_name + '</a> ';
				}
				$('#UserList').html(html);
			}
			);
		}
);
</script>
  <h1>NECOMATter</h1>
  {% if 'user_name' not in session or 'session_key' not in session %}
    <p><a href="{{ url_for('signinPage') }}">sign in</a></p>
    <p><a href="{{ url_for('signupPage') }}">sign up</a></p>
  {% else %}
  <p><a href="/timeline/{{ session['user_name'] }}">{{ session['user_name']}} timeline</a></p>
  {% endif %}
  User List: <span id="UserList">now loading...</span>
  <p>
	  <a href="/stream/client_list">alive stream watcher list</a>
  </p>
  <hr>
  <div class="memo">
	  <h3>実装状況？メモ。</h3>
	  なんとなくできていること
	  <ul>
	          <li>ユーザの概念</li>
	          <li>tweet する・見る</li>
		  <li><a href="/static/rest_interfaces.html">REST API のドキュメント</a></li>
	          <li>フォローの概念(timeline)</li>
	          <li>タグの概念</li>
		  <li>replyの概念</li>
		  <li>REST friendly なユーザ管理(なんちゃって API Key による実装なので再生攻撃ができるけれども)</li>
	          <li>streaming timeline (今のところpublic timeline(全ての人のtweetが流れてくる)だけ)</li>
          </ul>
          まだできていないこと(できるようにしようと思っている)
          <ul>
		  <li>unit test</li>
	          <li>REST interfaces(200 OK を返すのに失敗しているとかが残っている)</li>
		  <li>replyをWeb UIからできるように</li>
          </ul>
	  できないこと(とりあえずは必要ないと思っている)
	  <ul>
		  <li>ユーザアイコン</li>
		  <li>ユーザプロフィール</li>
		  <li>d</li>
		  <li>鍵付きアカウント</li>
	  </ul>
  </div>
  <div class="memo">
	  <h3>memo link</h3>
	  <ul>
		  <li><a href="http://ns3-dev.sekiya-lab.info/gitweb/gitweb.cgi?p=necoma.git;a=summary">git/necoma</a></li>
		  <li><a href="http://ns3-dev.sekiya-lab.info/gitweb/gitweb.cgi?p=NECOMATter.git;a=summary">git/NECOMATter</a></li>
		  <li><a href="http://ns3-dev.sekiya-lab.info/ganglia/">ganglia</a></li>
		  <li><a href="http://hadoop-master.sekiya-lab.info:8088/cluster">hadoop cluster</a></li>
		  <li><a href="http://docs.neo4j.org/refcard/1.9/">Cypher query language for Neo4j</a></li>
		  <li><a href="http://docs.neo4j.org/chunked/stable/data-modeling-examples.html">Neo4j data modeling examples</a></li>
		  <li><a href="http://book.py2neo.org/en/latest/">Py2neo</a>: Python library for Neo4j</li>
		  <li><a href="http://flask.pocoo.org/">Flask</a>: microframework for Python</li>
		  <li><a href="https://dev.twitter.com/docs/api/1.1">Twitter REST API v1.1 Resources</a></li>
	  </ul>
  </div>
  <div class="memo">
	  実装時メモ
	  <ul>
		  <li>BOTの作り方
		  <ul>
			  <li>NECOMATter にユーザ登録をする(sign up)
			  <li>サインインした状態で<a href="/user_setting/">API key の設定ページ</a>を開く
			  <li>create key ボタンを押してAPI keyを生成する
			  <li><a href="http://ns3-dev.sekiya-lab.info/gitweb/gitweb.cgi?p=NECOMATter.git;a=blob;f=tools/hello_bot.py;h=b0e3216ca26283eeab89dd47c103e3b18b827e3f;hb=HEAD">hello_bot.py</a>を参考にしてBOTを作る
		  </ul>
		  <li>XSS対策
		  <ul>
			  <li>Python <a href="http://docs.python.jp/2.7/library/xml.sax.utils.html">xml.sax.utils.escape</a> を使って'&amp;', '&gt;', '&lt;' だけをエスケープしている</li>
			  <li>ユーザから入力される文字列の扱い
			  <ul>
				  <li>ユーザ名: DB登録前にエスケープしてみて結果が変わったら登録させない</li>
				  <li>tweet: DBに登録前にエスケープしてからDBに登録</li>
				  <li>パスワード: DBに登録されるのはsha256でhexに変換された後のもの</li>
			  </ul>
			  という形になっているのでXSSについては大丈夫？なの？
			  </li>
		  </ul>
		  <li>SQL injection的なものへの対策
		  <ul>
			  <li>使っているのは<a href="http://www.neo4j.org/">Neo4j</a>というグラフデータベースの<a href="http://www.neo4j.org/learn/cypher">Cypher</a>というクエリ言語なので、SQL injection的な攻撃ができるはず。</li>
			  <li>今のところユーザからの入力は'&quot;'で囲われた中に現れるだけのように見えるので、とりあえず'&quot;'は'_'に変換してクエリ文字列を生成するようにしてみた
		  </ul>
		  </li>
		  <li>タグの実装が変？
		  <ul>
			  <li>タグはインデックスをはるためにサーバ側で<code>/(#[^ ]+)/g</code>という正規表現で検索してインデックスに登録している。これはPythonで書かれている</li>
			  <li>クライアント側でも同じように<code>/(#[^ ]+)/g</code> という正規表現で検索してlinkに書き換えている。こちらはJavaScriptで書かれている</li>
			  <li>なので、これは同じことを二箇所で別の書き方をしている問題にひっかかる</li>
		  </ul>
		  <li>なんちゃって API Key がまんまパスワードなので、どうしたものか……
		  </li>
		  <li>というか、生パスワードが飛び交ったりしている時点でもうセキュリティ関係は全然駄目……
		  </li>
	  </ul>
  </div>
{% endblock %}
