{% extends "layout.html" %}
{% block body %}
<script src="/static/index.js"></script>
  <h1>NECOMAtter</h1>
  {% if 'user_name' not in session or 'session_key' not in session %}
    <p><a href="{{ url_for('signinPage') }}">sign in</a></p>
    <!--p><a href="{{ url_for('signupPage') }}">sign up</a></p-->
  {% else %}
  <p><a href="/timeline/{{ session['user_name'] }}">{{ session['user_name']}} timeline</a></p>
  {% endif %}
  <div id="UserList"></div>
  <p>
	  <a href="/stream/client_list">alive stream watcher list</a>
  </p>
  <p><a href="/static/bot_tutorial.html">How to make NECOMAtter BOT</a></p>
  <p><a href="/alluser/timeline">all user timeline</a></p>
  <p><a href="/static/BOT_catarog.html">BOT catarog</a></p>
  <p><a href="/matome">NECOMAtome list</a></p>
{% endblock %}
