{% extends "layout.html" %}
{% block body %}
<script src="/static/index.js"></script>
  <h1>NECOMAtter</h1>
  {% if 'user_name' not in session or 'session_key' not in session %}
    <p><a href="{{ url_for('signinPage') }}">sign in</a></p>
    <!--p><a href="{{ url_for('signupPage') }}">sign up</a></p-->
  {% else %}
  <p><a href="/timeline/{{ session['user_name'] }}">{{ session['user_name']}} timeline</a></p>
  {% endif %}
  <div id="UserList"></div>
  <p>
	  <a href="/stream/client_list">alive stream watcher list</a>
  </p>
  <p><a href="/static/bot_tutorial.html">How to make NECOMAtter BOT</a></p>
  <p><a href="/alluser/timeline">all user timeline</a></p>
  <p><a href="/static/BOT_catarog.html">BOT catarog</a></p>
  <p><a href="/matome">NECOMAtome list</a></p>
  <hr>
  <div class="memo">
	  <h3>link</h3>
	  <ul>
		  <li><a href="http://ns3-dev.sekiya-lab.info/gitweb/gitweb.cgi?p=necoma.git;a=summary">git/necoma</a></li>
		  <li><a href="https://github.com/necoma/necomatter">git/NECOMAtter</a></li>
		  <li><a href="http://ns3-dev.sekiya-lab.info/ganglia/">ganglia</a></li>
		  <li><a href="http://hadoop-master.sekiya-lab.info:8088/cluster">hadoop cluster</a></li>
		  <li><a href="http://docs.neo4j.org/refcard/1.9/">Cypher query language for Neo4j</a>, <a href="http://docs.neo4j.org/chunked/stable/cypher-query-lang.html">other</a>, <a href="http://lewuathe.com/blog/2013/09/20/neo4jfalseshi-ifang-1/">JP doc</a></li>
		  <li><a href="http://docs.neo4j.org/chunked/stable/data-modeling-examples.html">Neo4j data modeling examples</a></li>
		  <li><a href="http://book.py2neo.org/en/latest/">Py2neo</a>: Python library for Neo4j</li>
		  <li><a href="http://flask.pocoo.org/">Flask</a>: microframework for Python</li>
		  <li><a href="https://dev.twitter.com/docs/api/1.1">Twitter REST API v1.1 Resources</a></li>
		  <li>Neo4J上のデータのリレーションシップやらノードが増えてきたので<a href="static/data_relation.html">メモ</a>を残すようにした。</li>
	  </ul>
  </div>
  <div class="memo">
	  <h3>メモ</h3>
	  <div class="panel-group" id="DevMemo">
		  <div class="panel panel-default">
			  <div class="panel-heading">
				  <h4 class="panel-title">
					  <a class="accordion-toggle" data-toggle="collapse" data-parent="#DevMemo" href="#DevMemo-4">BOTの作り方</a>
				  </h4>
			  </div>
			  <div id="DevMemo-4" class="panel-collapse collapse in">
				  <div class="panel-body">
		  <ul>
			  <li>NECOMAtter にユーザ登録をする(sign up)
			  <li>サインインした状態で<a href="/user_setting/">API key の設定ページ</a>を開く
			  <li>create key ボタンを押してAPI keyを生成する
			  <li><a href="http://ns3-dev.sekiya-lab.info/gitweb/gitweb.cgi?p=NECOMATter.git;a=blob;f=tools/hello_bot.py;h=b0e3216ca26283eeab89dd47c103e3b18b827e3f;hb=HEAD">hello_bot.py</a>を参考にしてBOTを作る
		  </ul>
				  </div>
			  </div>
		  </div>
		  <div class="panel panel-default">
			  <div class="panel-heading">
				  <h4 class="panel-title">
					  <a class="accordion-toggle" data-toggle="collapse" data-parent="#DevMemo" href="#DevMemo-1">なんとなくできていること</a>
				  </h4>
			  </div>
			  <div id="DevMemo-1" class="panel-collapse collapse in">
				  <div class="panel-body">
	  <ul>
	          <li>ユーザの概念</li>
	          <li>tweet する・見る</li>
		  <li><a href="/static/rest_interfaces.html">REST API のドキュメント</a></li>
	          <li>フォローの概念(timeline)</li>
	          <li>タグの概念</li>
		  <li>replyの概念</li>
		  <li>REST friendly なユーザ管理(なんちゃって API Key による実装なので再生攻撃ができるけれども)</li>
	          <li>streaming timeline (今のところpublic timeline(全ての人のtweetが流れてくる)だけ)</li>
		  <li>listの概念</li>
		  <li>ユーザアイコン</li>
          </ul>
				  </div>
			  </div>
		  </div>
		  <div class="panel panel-default">
			  <div class="panel-heading">
				  <h4 class="panel-title">
					  <a class="accordion-toggle" data-toggle="collapse" data-parent="#DevMemo" href="#DevMemo-2">まだできていないこと(できるようにしようと思っている)</a>
				  </h4>
			  </div>
			  <div id="DevMemo-2" class="panel-collapse collapse in">
				  <div class="panel-body">
          <ul>
		  <li>unit test</li>
	          <li>REST interfaces(200 OK を返すのに失敗しているとかが残っている)</li>
		  <li>list の管理を Web UI からできるように</li>
		  <li>@ (reply とは別の概念？単にユーザにメッセージを飛ばすだけでreplyでは無いはず)</li>
          </ul>
				  </div>
			  </div>
		  </div>
		  <div class="panel panel-default">
			  <div class="panel-heading">
				  <h4 class="panel-title">
					  <a class="accordion-toggle" data-toggle="collapse" data-parent="#DevMemo" href="#DevMemo-3">できないこと(とりあえずは必要ないと思っている)</a>
				  </h4>
			  </div>
			  <div id="DevMemo-3" class="panel-collapse collapse in">
				  <div class="panel-body">
	  <ul>
		  <li>ユーザプロフィール</li>
		  <li>d</li>
		  <li>鍵付きアカウント</li>
	  </ul>
				  </div>
			  </div>
		  </div>
		  <div class="panel panel-default">
			  <div class="panel-heading">
				  <h4 class="panel-title">
					  <a class="accordion-toggle" data-toggle="collapse" data-parent="#DevMemo" href="#DevMemo-5">XSS対策</a>
				  </h4>
			  </div>
			  <div id="DevMemo-5" class="panel-collapse collapse in">
				  <div class="panel-body">
		  <ul>
			  <li>Python <a href="http://docs.python.jp/2.7/library/xml.sax.utils.html">xml.sax.utils.escape</a> を使って'&amp;', '&gt;', '&lt;', '&quot;' をエスケープしている</li>
			  <li>ユーザから入力される文字列の扱い
			  <ul>
				  <li>ユーザ名: DB登録前にエスケープしてみて結果が変わったら登録させない</li>
				  <li>tweet: DBに登録前にエスケープしてからDBに登録</li>
				  <li>パスワード: DBに登録されるのはsha256でhexに変換された後のもの</li>
			  </ul>
			  という形になっているのでXSSについては大丈夫？なの？
			  </li>
		  </ul>
				  </div>
			  </div>
		  </div>
		  <div class="panel panel-default">
			  <div class="panel-heading">
				  <h4 class="panel-title">
					  <a class="accordion-toggle" data-toggle="collapse" data-parent="#DevMemo" href="#DevMemo-6">雑多</a>
				  </h4>
			  </div>
			  <div id="DevMemo-6" class="panel-collapse collapse in">
				  <div class="panel-body">
					  <ul>
		  <li>SQL injection的なものへの対策
		  <ul>
			  <li>使っているのは<a href="http://www.neo4j.org/">Neo4j</a>というグラフデータベースの<a href="http://www.neo4j.org/learn/cypher">Cypher</a>というクエリ言語なので、SQL injection的な攻撃ができるはず。</li>
			  <li>今のところユーザからの入力は'&quot;'で囲われた中に現れるだけのように見えるので、とりあえず'&quot;'は'_'に変換してクエリ文字列を生成するようにしてみた
		  </ul>
		  </li>
		  <li>streaming API でのBOTが登録する正規表現はそのままPython のre class に渡しているのは、大丈夫なんだろうか。
		  </li>
		  <li>タグの実装が変？
		  <ul>
			  <li>タグはインデックスをはるためにサーバ側で<code>/(#[^ ]+)/g</code>という正規表現で検索してインデックスに登録している。これはPythonで書かれている</li>
			  <li>クライアント側でも同じように<code>/(#[^ ]+)/g</code> という正規表現で検索してlinkに書き換えている。こちらはJavaScriptで書かれている</li>
			  <li>なので、これは同じことを二箇所で別の書き方をしている問題にひっかかる</li>
		  </ul>
		  <li>なんちゃって API Key がまんまパスワードなので、どうしたものか……
		  </li>
		  <li>というか、生パスワードが飛び交ったりしている時点でもうセキュリティ関係は全然駄目……</li>
	  </ul>
				  </div>
			  </div>
		  </div>
		  <!--div class="panel panel-default">
			  <div class="panel-heading">
				  <h4 class="panel-title">
					  <a class="accordion-toggle" data-toggle="collapse" data-parent="#DevMemo" href="#DevMemo-4">BOTの作り方</a>
				  </h4>
			  </div>
			  <div id="DevMemo-4" class="panel-collapse collapse in">
				  <div class="panel-body">
				  </div>
			  </div>
		  </div-->
	  </div>
  </div>
{% endblock %}
