{% extends "layout.html" %}
{% block title %}{{ user_name}}'s tweet{% endblock %}
{% block body %}
<script>
$(document).ready(AddTweetAjax_CreateFunc('{{ user_name }}', '#Tweet_text', function() { console.log("clear?"); $('#Tweet_text').empty(); }));

function Tweet(){
	user = '{{ user_name }}';
	text = $("#post_tweet_text").val();
	if(text == "")
	{
		elem = $('#post_alert');
		elem.text("please input text").fadeIn('fast', function(){
			elem.fadeOut('slow', function(){
				elem.empty();
			});
		});
		return;
	}
	PostTweet('{{ user_name }}', text, function(data){
		console.log("tweet post end.");
		console.log(data);
		html = RenderTweetToHTML([data]);
		$('#Tweet_text').before(html).fadeIn("slow");
	});
}
</script>
  <h2>{{ user_name }}'s tweet</h2>
  {% if error %}<p class=error><strong>Error:</strong>{{ error }}</p>{% endif %}
  <form name="tweet_form" action="javascript:void(0)" onSubmit="Tweet(); return false;" method="POST">
    <input type="text" id="post_tweet_text" name="tweet"></input>
    <input type="submit" value="POST"></input>
  </form><span id="post_alert"></span>
  <div id="Tweet_text">
	now loading...
  </div>
{% endblock %}
