{% extends "layout.html" %}
{% block title %}{{ user_name}}'s {{do_target}}{% endblock %}
{% block body %}
<script src="/static/timeline_page.js"></script>
<h2>{{ user_name }}'s {{do_target}}</h2>
  {% if error %}<p class="error"><strong>Error:</strong>{{ error }}</p>{% endif %}
  <span class="FollowButton"><input id="FollowButton" type="button" value="follow {{user_name}}" onClick="FollowClicked('{{ user_name }}');" disabled></span>
  <span class="UnFollowButton"><input id="UnFollowButton" type="button" value="unfollow {{user_name}}" onClick="UnFollowClicked('{{ user_name }}');" disabled></span>
  <div id="Tweet_text">
	now loading...
  </div>
  <div><input type="button" id="ReadMoreButton" value="more..." onClick="ReadMoreButtonClicked();"><div>
{% endblock %}
