{% extends "layout.html" %}
{% block title %}{{ user_name}}'s timeline{% endblock %}
{% block body %}
<script>
$(document).ready(AddTimelineAjax_CreateFunc('{{ user_name }}',
	'#Tweet_text',
	function() { $('#Tweet_text').html("<div></div>"); }
	));
{% if 'user_name' in session and 'session_key' in session %}
  {% if session['user_name'] == user_name %}
    $(document).ready(function(){
    	$(".FollowButton").html('');
    	$(".UnFollowButton").html('');
	});
  {% else %}
$(document).ready(function(){
		$.getJSON("/user/{{ session['user_name'] }}/followed_user_name_list.json"
			, {}
			, function(user_name_list, textStatus){
				if(user_name_list.indexOf('{{user_name}}') >= 0){
					// フォローしている場合
					$("#UnFollowButton").removeAttr('disabled');
					$("#FollowButton").attr('disabled', true);
				}else{
					$("#UnFollowButton").attr('disabled', true);
					$("#FollowButton").removeAttr('disabled');
				}
			}
			);
		});
  {% endif %}
{% endif %}

function Tweet(){
	user = '{{ user_name }}';
	text = $("#post_tweet_text").val();
	if(text == "")
	{
		elem = $('#post_alert');
		elem.text("please input text").fadeIn('fast', function(){
			elem.fadeOut('slow', function(){
				elem.empty();
			});
		});
		return;
	}
	PostTweet('{{ user_name }}', text, function(data){
		//console.log("tweet post end.");
		//console.log(data);
		html = RenderTweetToHTML([data]);
		$('#Tweet_text > div:first').before(html).fadeIn("slow");
	});
}

function FollowClicked(user_name){
	if(!window.confirm('follow ' + user_name + '?'))
	{
		return;
	}
	PostJSON("/follow.json"
		, {'user_name': user_name}
		, function(result){
			if('result' in result && result['result'] == 'ok'){
				$("#UnFollowButton").removeAttr('disabled');
				$("#FollowButton").attr('disabled', true);
			}
		});
}
function UnFollowClicked(user_name){
	if(!window.confirm('unfollow ' + user_name + '?'))
	{
		return;
	}
	PostJSON("/unfollow.json"
		, {'user_name': user_name}
		, function(result){
			if('result' in result && result['result'] == 'ok'){
				$("#UnFollowButton").attr('disabled', true);
				$("#FollowButton").removeAttr('disabled');
				//$("#FollowButton").fadeIn('slow');
				//$("#UnFollowButton").fadeOut('slow');
			}
		});
}
</script>
  <h2>{{ user_name }}'s timeline</h2>
  {% if error %}<p class="error"><strong>Error:</strong>{{ error }}</p>{% endif %}
  <span class="FollowButton"><input id="FollowButton" type="button" value="follow {{user_name}}" onClick="FollowClicked('{{ user_name }}');"></span>
  <span class="UnFollowButton"><input id="UnFollowButton" type="button" value="unfollow {{user_name}}" onClick="UnFollowClicked('{{ user_name }}');"></span>
  <form name="tweet_form" action="javascript:void(0)" onSubmit="Tweet(); return false;" method="POST">
    <input type="text" id="post_tweet_text" name="tweet"></input>
    <input type="submit" value="POST"></input>
  </form><span id="post_alert"></span>
  <div id="Tweet_text">
	now loading...
  </div>
{% endblock %}
