{% extends "layout.html" %}
{% block title %}user setting page{% endblock %}
{% block body %}
<script src="/static/user_setting_page.js"></script>
<div class="normal_body">
  <h2>User settings</h2>
  {% if error %}<p class=error><strong>Error:</strong>{{ error }}</p>{% endif %}
  <div class="IconSettings">
	  current icon：<img src="{{icon_url}}" width="64">
	  <br>
	  <form action="/user/icon_upload.html" method="POST" enctype="multipart/form-data"><input type="file" name="icon">
		  <input type="submit">
	  </form>
  </div>
  <p>
  <h2>API key list</h2>
  ここに表示されている API Key とユーザ名を使うことで、BOT等から tweet することができるようになります。
  <div class="CreateNewKey"><input type="button" value="create a new key" onClick="CreateNewKeyButtonClicked();"><div>
  <ul id="KeyList">
  {% for key in key_list %}
    <li id="DeleteKey_{{key}}"><code>{{key}}</code> <input type="button" value="delete key" onClick="DeleteKeyButtonClicked('{{key}}');"></li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
