{% extends "layout.html" %}
{% block title %}user setting page{% endblock %}
{% block body %}
<script src="/static/user_setting_page.js"></script>
<script src="/static/passwordmeter.js"></script>
<div class="normal_body">
  <h2>User settings</h2>
  {% if error %}<p class="bg-danger"><strong>Error:</strong>{{ error }}</p>{% endif %}
  {% if success %}<p class="bg-success">{{ success }}</p>{% endif %}
  <div class="IconSettings">
	  current icon：<img src="{{icon_url}}" width="64">
	  <br>
	  <form action="/user/icon_upload.html" method="POST" enctype="multipart/form-data"><input type="file" name="icon">
		  <input type="submit">
	  </form>
  </div>
  <h2>Password change</h2>
  <div class="PasswordChange">
    <form action="/change_password" method="POST">
      old password: <input type="password" name="old_password" autocomplete="off" placeholder="old password">
      <br><span>new password: <input id="sign_up_password_1" type=password name="password" autocomplete="off" onkeyup="SignUp_checkPassword(this.value)" placeholder="password"></span>
      strength：<span id="password_strength">weak</span>
      <br><span>password(again): <input id="sign_up_password_2" type="password" name="password_2" autocomplete="off" onkeyup="SignUp_checkPassword(this.value)" placeholder="password (again)"></span>
      <br><input id="password_submit_button" type="submit" value="change password" disabled>
    </form>
  </div>
  <p>
  <h2>Your API key list</h2>
  <div class="CreateNewKey"><input type="button" value="create a new key" onClick="CreateNewKeyButtonClicked();"><div>
  <ul id="KeyList">
  {% for key in key_list %}
    <li id="DeleteKey_{{key}}"><code>{{key}}</code> <input type="button" value="delete key" onClick="DeleteKeyButtonClicked('{{key}}');"></li>
  {% endfor %}
  </ul>

  <h2>Create New User or BOT account</h2>
  <div class="CreateNewUser">
  {% if is_can_create_user %}
    <form action="javascript:void(0)" onsubmit="return AddUser('#new_user_name', '#create_user_password_1', '#create_user_password_2', '#create_user_result', '#create_user_submit_button', '#create_user_can_create_user');">
      user name: <input type="text" id="new_user_name" name="new_user_name" autocomplete="off" placeholder="new user name">
      <br><span>password: <input id="create_user_password_1" type=password name="password" autocomplete="off" onkeyup="SignUp_checkPassword(this.value, '#create_user_password_1', '#create_user_password_2', '#create_user_password_strength', '#create_user_submit_button')" placeholder="password"></span>
      strength：<span id="create_user_password_strength">weak</span>
      <br><span>password(again): <input id="create_user_password_2" type="password" name="password_2" autocomplete="off" onkeyup="SignUp_checkPassword(this.value, '#create_user_password_1', '#create_user_password_2', '#create_user_password_strength', '#create_user_submit_button')" placeholder="password (again)"></span>
      <br>This user has &quot;Create other user authority&quot; 
      <input type="checkbox" name="new_user_can_create_user" value="1" id="create_user_can_create_user">
      <br><input id="create_user_submit_button" type="submit" value="create new user" disabled>
    </form>
    <div id="create_user_result"></div>
  {% else %}
    You have no &quot;Create USER&quot; authority.
  {% endif %}
  </div>
</div>
{% endblock %}
